name: Publish to GitHub Packages

on:
    push:
        branches: [ main ]

jobs:
    publish-github:
        runs-on: ubuntu-latest
        concurrency: publishing-ci
        permissions:
            packages: write
            contents: write
            actions: read
            checks: write
            id-token: write
        name: Build & Test & Publish

        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0
            -   name: Setup JDK
                uses: actions/setup-java@v5.0.0
                with:
                    distribution: 'temurin'
                    java-version: 25
            -   name: Setup Gradle for a non-wrapper project
                uses: gradle/actions/setup-gradle@v5
                with:
                    gradle-version: wrapper

            -   name: Build lib
                run: gradle assemble

            -   name: Run tests
                run: gradle ktlintCheck test --info

            -   uses: paulhatch/semantic-version@v5.4.0
                id: tag
                with:
                    bump_each_commit: true
                    bump_each_commit_patch_pattern: "(BUMP)"
                    tag_prefix: ""

            -   name: Publish
                if: ${{ steps.tag.outputs.version_type != 'none' }}
                run: gradle -Pversion=${{ steps.tag.outputs.version }} publish
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   uses: actions/create-release@v1.1.4
                if: ${{ steps.tag.outputs.version_type != 'none' }}
                id: create_release
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ steps.tag.outputs.version }}
                    release_name: ${{ steps.tag.outputs.version }}
                    body: |
                        Changes in this Release
                        ${{ steps.notes.outputs.CHANGELOG }}
